<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/mazer-main/dist/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/mazer-main/dist/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="~/mazer-main/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/mazer-main/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/mazer-main/dist/assets/css/app.css">
    <link rel="shortcut icon" href="~/mazer-main/dist/assets/images/favicon.svg" type="image/x-icon">

    <!-- DevExtreme library -->
    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />

    @* Predefined themes: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/ *@
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />



    @* Devextreme*@
    <!-- Diagram and Gantt -->
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>

    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>

    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Widgets/VectorMap/Providing_Data/#Data_for_Areas *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>




</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                         @*   <a href="index.html"><img src="~/mazer-main/dist/assets/images/logo/logo.png" alt="Logo" srcset=""></a>*@
                         OctaPull
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item active ">
                            <a href="index.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Components</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a  asp-controller="DataProtectionKeys" asp-action="Index" >DataProtectionKeys</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblCMSAppMenu">TblCMSAppMenu</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblCMSAppNavigation">TblCMSAppNavigation</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblCmsnavYetki">TblCMSNavYetki</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblCmsVersion" >TblCmsVersion</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIDatabaseDosyalar">TblDigiBIDatabaseDosyalar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIDatabaseler">TblDigiBIDatabaseler</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIDosyaSistemi">TblDigiBIDosyaSistemi</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIFavoriDosyalar">TblDigiBIFavoriDosyalar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIPaylasim">TblDigiBIPaylasim</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblFileDosyaSistemi">TblFileDosyaSistemi</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblFileFavoriDosyalar">TblFileFavoriDosyalar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralApplications" asp>TblGeneralApplication</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralBanka</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralBankaSube</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralBelgeDurumlari</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralBnkBelgeDurum</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralBnkEftDurum</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralBnkHarDurum</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralBnkHarKynk</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralBnkHarTip</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralDil</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralEEvrakDurumlari</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralEFatMukellef</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralEFatMukellefMail</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralFavoriler</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralFirma</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralGondSekli</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralGrupKullanici</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralGun</a>
                                </li>
                                    <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIl</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIlce</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIntegration</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIslemBelgeTip</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIslemKilit</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIslemSeri</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIslemSeriTanimlama</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIslemTipi</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIsletme</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralIsletmeApplication</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralKoy</a>
                                </li>
                          
                         
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralKulGrupEkran</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralKullaniciEkAlan</a>
                                </li>
                                     <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralKullaniciGrupTanim</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a href="component-tooltip.html">TblGeneralLidosDurum</a>
                                </li>
                                <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralLidosElusTip</a>
                                </li>
                                     <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralLidosTalepTip</a>
                                </li>
                                     <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralModul</a>
                                </li>
                                     <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralOdemeTip</a>
                                </li>
                             <li class="submenu-item ">
                                <a href="component-tooltip.html">TblGeneralOnayDurum</a>
                                </li>
                                       <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralParaBirimi</a>
                                </li>
                                       <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralRedDurum</a>
                                </li>
                                       <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralRedDurumYetki</a>
                                </li>
                                       <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralRedNedeni</a>
                                </li>
                                       <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralRedNedenYeri</a>
                                </li>
                                       <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralRedNedenYetki</a>
                                </li>
                                       <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralRedYeri</a>
                                </li>
                                       <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralRehber</a>
                                </li>
                                       <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralRehberColumns</a>
                                </li>
                                          <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralRehberViews</a>
                                </li>
                                          <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralSube</a>
                                </li>
                                          <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralSubeKullanici</a>
                                </li>
                                          <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralUlke</a>
                                </li>
                                          <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralUserApplication</a>
                                </li>
                                          <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralVergiDairesi</a>
                                </li>
                                          <li class="submenu-item ">
                            <a href="component-tooltip.html">TblGeneralVisitDurum</a>
                                </li>
                                          <li class="submenu-item ">
                            <a href="component-tooltip.html">TblOptions</a>
                                </li>
                                          <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSocialFeed</a>
                                </li>
                                                <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSocialFeedKisi</a>
                                </li>
                                                <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSocialFeedLink</a>
                                </li>
                                                <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSocialFeedTip</a>
                                </li>
                                                <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSocialLink</a>
                                </li>
                                                <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSSODavet</a>
                                </li>
                                                <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSSODavetDetay</a>
                                </li>
                                                     <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSSOHost</a>
                                </li>

                                                     <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSSOIzin</a>
                                </li>

                                                     <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSSOKullanici</a>
                                </li>

                                                     <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSSOKullaniciTipi</a>
                                </li>

                                                     <li class="submenu-item ">
                            <a href="component-tooltip.html">TblSSOToken</a>
                                </li>

                              <li class="submenu-item ">
                                   <a href="component-tooltip.html">TblSSOYonlendirme</a>
                                </li>
                     </ul>
                     </ul>
                

                    </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div class="col-12">
                                <div  class="card mt-3">
                                
                                    @RenderBody()
                        </div>
                    </div>
                
                    </div>
                
                    </div>
                </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; OctaPull</p>
                    </div>
                    
                </div>
            </footer>
        </div>
    </div>


    <script src="~/mazer-main/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/mazer-main/dist/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/mazer-main/dist/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/mazer-main/dist/assets/js/pages/dashboard.js"></script>

    <script src="~/mazer-main/dist/assets/js/main.js"></script>


    @RenderSection("Scripts", required: false)
</body>

</html>