<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard -OctaPull Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/mazer-main/dist/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/mazer-main/dist/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="~/mazer-main/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/mazer-main/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/mazer-main/dist/assets/css/app.css">
    <link rel="shortcut icon" href="~/mazer-main/dist/assets/images/favicon.svg" type="image/x-icon">

    <!-- DevExtreme library -->
    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    @* Predefined themes: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/ *@
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />






    @* Devextreme*@
    <!-- Diagram and Gantt -->
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>

    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>

    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Widgets/VectorMap/Providing_Data/#Data_for_Areas *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>




</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                         @*   <a href="index.html"><img src="~/mazer-main/dist/assets/images/logo/logo.png" alt="Logo" srcset=""></a>*@
                         OctaPull
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item active ">
                            <a href="index.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Components</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="DataProtectionKeys">DataProtectionKeys</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblCMSAppMenu">TblCMSAppMenu</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblCMSAppNavigation">TblCMSAppNavigation</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblCmsnavYetki">TblCmsnavYetki</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblCmsVersion">TblCmsVersion</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIDatabaseDosyalar">TblDigiBIDatabaseDosyalar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIDatabaseler">TblDigiBIDatabaseler</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIDosyaSistemi">TblDigiBIDosyaSistemi</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIFavoriDosyalar">TblDigiBIFavoriDosyalar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblDigiBIPaylasim">TblDigiBIPaylasim</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblFileDosyaSistemi">TblFileDosyaSistemi</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblFileFavoriDosyalar">TblFileFavoriDosyalar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralApplications" >TblGeneralApplications</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralBanka" >TblGeneralBanka</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralBankaSube" >TblGeneralBankaSube</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralBelgeDurumlari" >TblGeneralBelgeDurumlari</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralBnkBelgeDurum" >TblGeneralBnkBelgeDurum</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralBnkEftDurum" >TblGeneralBnkEftDurum</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralBnkHarDurum">TblGeneralBnkHarDurum</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralBnkHarKynk" >TblGeneralBnkHarKynk</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralBnkHarTip" >TblGeneralBnkHarTip</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralDil" >TblGeneralDil</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralEevrakDurumlari" >TblGeneralEevrakDurumlari</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralEfatMukellef">TblGeneralEfatMukellef</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralEfatMukellefMail">TblGeneralEfatMukellefMail</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralFavoriler">TblGeneralFavoriler</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralFirma">TblGeneralFirma</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralGondSekli">TblGeneralGondSekli</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralGrupKullanici">TblGeneralGrupKullanici</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralGun" >TblGeneralGun</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIl">TblGeneralIl</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIlce">TblGeneralIlce</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIntegration">TblGeneralIntegration</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIslemBelgeTip">TblGeneralIslemBelgeTip</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIslemKilit">TblGeneralIslemKilit</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIslemSeri">TblGeneralIslemSeri</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIslemSeriTanimlama">TblGeneralIslemSeriTanimlama</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIslemTipi">TblGeneralIslemTipi</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIsletme">TblGeneralIsletme</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralIsletmeApplication">TblGeneralIsletmeApplication</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralKoy">TblGeneralKoy</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralKulGrupEkran">TblGeneralKulGrupEkran</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralKullaniciEkAlan">TblGeneralKullaniciEkAlan</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralKullaniciGrupTanim">TblGeneralKullaniciGrupTanim</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralLidosDurum">TblGeneralLidosDurum</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralLidosElusTip">TblGeneralLidosElusTip</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralLidosTalepTip">TblGeneralLidosTalepTip</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralModul">TblGeneralModul</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralOnayDurum">TblGeneralOnayDurum</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralParaBirimi">TblGeneralParaBirimi</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralRedDurum">TblGeneralRedDurum</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralRedDurumYetki">TblGeneralRedDurumYetki</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralRedNedeni">TblGeneralRedNedeni</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralRedNedenYeri">TblGeneralRedNedenYeri</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralRedNedenYetki">TblGeneralRedNedenYetki</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralRedYeri">TblGeneralRedYeri</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralRehber">TblGeneralRehber</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralRehberColumn">TblGeneralRehberColumn</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralRehberView">TblGeneralRehberView</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralSube">TblGeneralSube</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralSubeKullanici">TblGeneralSubeKullanici</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralUlke">TblGeneralUlke</a>
                                </li>
                                            <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralUserApplication">TblGeneralUserApplication</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralVergiDairesi">TblGeneralVergiDairesi</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblGeneralVisitDurum">TblGeneralVisitDurum</a>
                                </li>
                                 <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblOption">TblOption</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSocialFeed">TblSocialFeed</a>
                                 </li>
                                  <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSocialFeedKisi">TblSocialFeedKisi</a>
                                </li>
                                  <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSocialFeedLink">TblSocialFeedLink</a>
                                </li>
                                 <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSocialFeedTip">TblSocialFeedTip</a>
                                </li>
                                 <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSocialLink">TblSocialLink</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSsodavet">TblSsodavet</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSsodavetDetay">TblSsodavetDetay</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSsohost">TblSsohost</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSsoizin">TblSsoizin</a>
                                </li>
                                     <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSsokullanici">TblSsokullanici</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSsokullaniciTipi">TblSsokullaniciTipi</a>
                                </li>
                                        <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSsotoken">TblSsotoken</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Home" asp-action="TblSsoyonlendirme">TblSsoyonlendirme</a>
                                </li>
                     </ul>
                     </ul>
                

                    </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div class="col-12">
                                <div  class="card mt-3">
                                
                                    @RenderBody()
                        </div>
                    </div>
                
                    </div>
                
                    </div>
                </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; OctaPull</p>
                    </div>
                    
                </div>
            </footer>
        </div>
    </div>


    <script src="~/mazer-main/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/mazer-main/dist/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/mazer-main/dist/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/mazer-main/dist/assets/js/pages/dashboard.js"></script>

    <script src="~/mazer-main/dist/assets/js/main.js"></script>


    @RenderSection("Scripts", required: false)
</body>

</html>