@using CrudProject.Models
@model List<DataProtectionKey>


@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>FriendlyName</th>
        <th>Xml</th>
        <th style="width:200px;">Update</th>
        <th style="width:200px;">Delete</th>
    </tr>
    @foreach (var item in Model)
    {
     <tr>
        <td>@item.FriendlyName</td>
        <td>@item.Xml</td>
            <td><a asp-controller="DataProtectionKeys" asp-action="UpdateEntity" asp-route-id="@item.Id" class="btn btn-outline-primary">Update</a></td>
            <td><a asp-controller="DataProtectionKeys" asp-action="DeleteEntity" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a></td>
    </tr>     
    }

</table>
<a asp-controller="DataProtectionKeys" asp-action="CreateEntity" class="btn btn-success">Create</a>