
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
    </div>
</div>
<div id="gridContainer">
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON('/TblCmsappMenus/Get', function (model) {
                GridData(model)
            })
        });
        function GridData(models) {
            let url = "TblCmsappMenus";
            $("#gridContainer").dxDataGrid({
                dataSource: models,
                columns: [
                    {
                        dataField: "Id",
                    },
                    {
                        dataField: "Name",
                        caption: "Name"
                    },
                    {
                        dataField: "NavigationId",
                        caption: "NavigationId",
                        lookup: {
                            dataSource: DevExpress.data.AspNet.createStore({
                                key: 'Value',
                                loadUrl: `/${url}/TblGeneralNavigationLookup`,
                                onBeforeSend(method, ajaxOptions) {
                                    ajaxOptions.xhrFields = { withCredentials: true };
                                },
                            }),
                            valueExpr: 'Value',
                            displayExpr: 'Text',
                        }
                    },
                    {
                        dataField: "Icon",
                        caption: "Icon"
                    },
                    {
                        dataField: "MasterId",
                        caption: "MasterId",
                        lookup: {
                            dataSource: DevExpress.data.AspNet.createStore({
                                key: 'Value',
                                loadUrl: `/${url}/TbLCmsAppMenuLookup`,
                                onBeforeSend(method, ajaxOptions) {
                                    ajaxOptions.xhrFields = { withCredentials: true };
                                },
                            }),
                            valueExpr: 'Value',
                            displayExpr: 'Text',
                        }
                    },
                    {
                        dataField: "YeniSekmedeAc",
                        caption: "YeniSekmedeAc"
                    },
                    {
                        dataField: "DisUrl",
                        caption: "DisUrl"
                    },
                    {
                        dataField: "Sira",
                        caption: "Sira"
                    },
                    {
                        dataField: "ApplicationId",
                        caption: "ApplicationId",
                        lookup: {
                            dataSource: DevExpress.data.AspNet.createStore({
                                key: 'Value',
                                loadUrl: `/${url}/GeneralApplicationLookup`,
                                onBeforeSend(method, ajaxOptions) {
                                    ajaxOptions.xhrFields = { withCredentials: true };
                                },
                            }),
                            valueExpr: 'Value',
                            displayExpr: 'Text',
                        }
                    },
                    {
                        dataField: "Onaylandi",
                        caption: "Onaylandi"
                    },
                    {
                        dataField: "Aktif",
                        caption: "Aktif"
                    },
                    {
                        dataField: "Guid",
                        caption: "Guid"
                    },
                    {
                        dataField: "DegistirenId",
                        caption: "DegistirenId"
                    },
                    {
                        dataField: "OlusturanId",
                        caption: "OlusturanId"
                    },
                    {
                        dataField: "DegisiklikTarih",
                        caption: "DegisiklikTarih"
                    },
                    {
                        dataField: "OlusturmaTarih",
                        caption: "OlusturmaTarih"
                    },
                    {
                        dataField: "Revizyon",
                        caption: "Revizyon"
                    },
                    {
                        dataField: "Silindi",
                        caption: "Silindi"
                    }
                ],
                paging: {
                    pageSize: 6
                },
                onRowInserted: function (e) {
                    rowInsert(e.data);
                },
                onRowUpdated: function (e) {
                    rowUpdate(e.data);
                },
                onRowRemoved: function (e) {
                    rowRemove(e.data.Id);
                },
                editing: {
                    mode: 'popup',
                    allowUpdating: true,
                    allowAdding: true,
                    allowDeleting: true,
                    popup: {
                        title: 'TblCmsappMenus Info',
                        showTitle: true,
                        width: 700,
                        height: 525,
                    },
                    form: {
                        items: [
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                items: ['IsletmeId', 'FirmaId', 'SubeId', 'DosyaId', 'UserId', 'Yil'],
                            },
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                caption: 'TblCmsappMenus Base',
                                items: ['Revizyon', 'Aktif', 'Onaylandi', 'Silindi'],
                            }],
                    },
                }
            });
        }
        function rowUpdate(Data) {
            AjaxMethod('@Url.Action("Put", "TblCmsappMenus")', Data);
        }
        function rowInsert(Data) {
            AjaxMethod('@Url.Action("Post", "TblCmsappMenus")', Data);
        }
        function rowRemove(Data) {
            DeleteCall('@Url.Action("Delete", "TblCmsappMenus")', Data);
        }
        function AjaxMethod(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: Data,
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }

        function DeleteCall(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: Data },
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }
    </script>
}









