<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
    </div>
</div>
<div id="gridContainer">
</div>

@section Scripts{
    
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON('/TblGeneralApplications/Get', function (model) {
                GridData(model)
            })
        });
        function GridData(models) {
            let url = "TblGeneralApplications";
            $("#gridContainer").dxDataGrid({
                dataSource: models, 
                columns: [
                    {
                        dataField: "Id",
                    },
                    {
                        dataField: "Revizyon",
                        caption: "Revizyon"
                    },
                    {
                        dataField: "OlusturmaTarih",
                        caption: "OlusturmaTarih"
                    },
                    {
                        dataField: "DegisiklikTarih",
                        caption: "DegisiklikTarih"
                    },
                    {
                        dataField: "OlusturanId",
                        caption: "OlusturanId"
                    },
                    {
                        dataField: "DegistirenId",
                        caption: "DegistirenId"
                    },
                    {
                        dataField: "Guid",
                        caption: "Guid"
                    },
                    
                    {
                        dataField: "Aktif",
                        caption: "Aktif"
                    },
                    {
                        dataField: "Onaylandi",
                        caption: "Onaylandi"
                    },
                   {
                        dataField: "Sira",
                        caption: "Sira"
                    },
                    {
                        dataField: "Application",
                        caption: "Application"
                    },
                    {
                        dataField: "Description",
                        caption: "Description"
                    },
                    {
                        dataField: "Path",
                        caption: "Path"
                    },
                       {
                        dataField: "IconHtml",
                        caption: "IconHtml"
                    },
                       {
                        dataField: "BaseUrl",
                        caption: "BaseUrl"
                    },
                   {
                        dataField: "SystemApp",
                        caption: "SystemApp"
                    },
                       {
                        dataField: "BaseApiOnEk",
                        caption: "BaseApiOnEk"
                    },
                       {
                        dataField: "SystemApp",
                        caption: "SystemApp"
                    },
                        {
                        dataField: "ParametreAktif",
                        caption: "ParametreAktif"
                    },
                        {
                        dataField: "DisariAcik",
                        caption: "DisariAcik"
                    }
                ],
                paging: {
                    pageSize: 6
                },
                onRowInserted: function (e) {
                    rowInsert(e.data);
                },
                onRowUpdated: function (e) {
                    rowUpdate(e.data);
                },
                onRowRemoved: function(e) {
                    rowRemove(e.data.Id);
                },
                editing: {
                    mode:'popup',
                    allowUpdating: true,
                    allowAdding: true,
                    allowDeleting: true,
                    popup: {
                        title: 'TblGeneralApplications Info',
                        showTitle: true,
                        width: 700,
                        height: 525,
                    },
                    form: {
                        items: [
                        {
                            itemType: 'group',
                            colCount: 2,
                            colSpan: 2,
                            items: ['Application', 'Description', 'Path', 'IconHtml', 'BaseUrl', 'BaseApiOnEk','Sira'],
                        }, 
                        {
                            itemType: 'group', 
                            colCount: 2,
                            colSpan: 2,
                                caption: 'TblGeneralApplications Base',
                                items: ['Revizyon', 'Aktif', 'Onaylandi', 'Silindi', 'SystemApp', 'ParametreAktif', 'DisariAcik'],
                        }],
                    },
                }
            });
        }
        function rowUpdate(Data) {
            AjaxMethod('@Url.Action("Put", "TblGeneralApplications")', Data);
        }
        function rowInsert(Data) {
            AjaxMethod('@Url.Action("Post", "TblGeneralApplications")', Data);
        }
        function rowRemove(Data) {
            DeleteCall('@Url.Action("Delete", "TblGeneralApplications")', Data);
        }
        function AjaxMethod(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: Data,
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }

        function DeleteCall(url,Data)
        {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { id: Data },
                    dataType: 'json',
                    async: false,
                    cache: false,
                    success: function (html) {
                        alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                    }, error: function (xhr, status, error) {
                        alert(error.responseTextss);
                    }
                });
        }
    </script>
}
