

<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
    </div>
</div>
<div id="gridContainer">
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON('/TblGeneralFirma/Get', function (model) {
                GridData(model)
            })
        });
        function GridData(models) {
            let url = "TblGeneralFirma";
            $("#gridContainer").dxDataGrid({
                dataSource: models,
                columns: [
                    {
                        dataField: "Id",
                    },
                    {
                        dataField: "Adi",
                        caption: "Adi"
                    },
                    {
                        dataField: "IsletmeId",
                        caption: "IsletmeId",
                        lookup: {
                            dataSource: DevExpress.data.AspNet.createStore({
                                key: 'Value',
                                loadUrl: `/${url}/IsletmeLookup`,
                                onBeforeSend(method, ajaxOptions) {
                                    ajaxOptions.xhrFields = { withCredentials: true };
                                },
                            }),
                            valueExpr: 'Value',
                            displayExpr: 'Text',
                        }
                    },
                    {
                        dataField: "FirmaKod",
                        caption: "FirmaKod"
                    },
                    {
                        dataField: "VergiKimlikNo",
                        caption: "VergiKimlikNo"
                    },
                    {
                        dataField: "VergiDairesi",
                        caption: "VergiDairesi"
                    },
                    {
                        dataField: "MersisNo",
                        caption: "MersisNo"
                    },
                    {
                        dataField: "TicariSicilNo",
                        caption: "TicariSicilNo"
                    },
                    {
                        dataField: "WebSiteAdres",
                        caption: "WebSiteAdres"
                    },
                    {
                        dataField: "Email",
                        caption: "Email"
                    },
                    {
                        dataField: "AcikAdresMi",
                        caption: "AcikAdresMi"
                    },
                    {
                        dataField: "Adres",
                        caption: "Adres"
                    },
                    {
                        dataField: "UlkeId",
                        caption: "UlkeId",
                        lookup: {
                            dataSource: DevExpress.data.AspNet.createStore({
                                key: 'Value',
                                loadUrl: `/${url}/TblGeneralUlkesLookup`,
                                onBeforeSend(method, ajaxOptions) {
                                    ajaxOptions.xhrFields = { withCredentials: true };
                                },
                            }),
                            valueExpr: 'Value',
                            displayExpr: 'Text',
                        }
                    },
                    {
                        dataField: "IlceId",
                        caption: "IlceId",
                        lookup: {
                            dataSource: DevExpress.data.AspNet.createStore({
                                key: 'Value',
                                loadUrl: `/${url}/TblGeneralIlcesLookup`,
                                onBeforeSend(method, ajaxOptions) {
                                    ajaxOptions.xhrFields = { withCredentials: true };
                                },
                            }),
                            valueExpr: 'Value',
                            displayExpr: 'Text',
                        }
                    },
                    {
                        dataField: "IlId",
                        caption: "IlId",
                        lookup: {
                            dataSource: DevExpress.data.AspNet.createStore({
                                key: 'Value',
                                loadUrl: `/${url}/TblGeneralIlsLookup`,
                                onBeforeSend(method, ajaxOptions) {
                                    ajaxOptions.xhrFields = { withCredentials: true };
                                },
                            }),
                            valueExpr: 'Value',
                            displayExpr: 'Text',
                        }
                    },
                    {
                        dataField: "MahKoyId",
                        caption: "MahKoyId",
                        lookup: {
                            dataSource: DevExpress.data.AspNet.createStore({
                                key: 'Value',
                                loadUrl: `/${url}/TblGeneralKoysLookup`,
                                onBeforeSend(method, ajaxOptions) {
                                    ajaxOptions.xhrFields = { withCredentials: true };
                                },
                            }),
                            valueExpr: 'Value',
                            displayExpr: 'Text',
                        }
                    },
                    {
                        dataField: "KapiNo",
                        caption: "KapiNo"
                    },
                    {
                        dataField: "DaireNo",
                        caption: "DaireNo"
                    },
                        {
                        dataField: "TelNo",
                        caption: "TelNo"
                    },
                        {
                        dataField: "FaxNo",
                        caption: "FaxNo"
                    },
                        {
                        dataField: "YeniAlan",
                        caption: "YeniAlan"
                    },
                    {
                        dataField: "Aktif",
                        caption: "Aktif"
                    },
                    {
                        dataField: "Onaylandi",
                        caption: "Onaylandi"
                    },
                    {
                        dataField: "Silindi",
                        caption: "Silindi"
                    },
                    {
                        dataField: "Revizyon",
                        caption: "Revizyon"
                    },
                    {
                        dataField: "OlusturmaTarih",
                        caption: "OlusturmaTarih"
                    },
                    {
                        dataField: "DegisiklikTarih",
                        caption: "DegisiklikTarih"
                    },
                    {
                        dataField: "OlusturanId",
                        caption: "OlusturanId"
                    },
                    {
                        dataField: "DegistirenId",
                        caption: "DegistirenId"
                    },
                    {
                        dataField: "Guid",
                        caption: "Guid"
                    }
                ],
                paging: {
                    pageSize: 6
                },
                onRowInserted: function (e) {
                    rowInsert(e.data);
                },
                onRowUpdated: function (e) {
                    rowUpdate(e.data);
                },
                onRowRemoved: function (e) {
                    rowRemove(e.data.Id);
                },
                editing: {
                    mode: 'popup',
                    allowUpdating: true,
                    allowAdding: true,
                    allowDeleting: true,
                    popup: {
                        title: 'TblGeneralFirma Info',
                        showTitle: true,
                        width: 700,
                        height: 525,
                    },
                    form: {
                        items: [
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                items: ['IsletmeId', 'FirmaKod', 'Adi', 'VergiKimlikNo', 'VergiDairesi', 'MersisNo', 'TicariSicilNo', 'WebSiteAdres', 'Email', 'AcikAdresMi', 'Adres', 'UlkeId', 'IlId', 'IlceId', 'MahKoyId', 'KapiNo','DaireNo','TelNo','FaxNo','YeniAlan']
                            },
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                caption: 'TblGeneralFirma Base',
                                items: ['Revizyon', 'Aktif', 'Onaylandi', 'Silindi'],
                            }
                        ],
                    },
                }
            });
        }
        function rowUpdate(Data) {
            AjaxMethod('@Url.Action("Put", "TblGeneralFirma")', Data);
        }
        function rowInsert(Data) {
            AjaxMethod('@Url.Action("Post", "TblGeneralFirma")', Data);
        }
        function rowRemove(Data) {
            DeleteCall('@Url.Action("Delete", "TblGeneralFirma")', Data);
        }
        function AjaxMethod(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: Data,
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }

        function DeleteCall(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: Data },
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }
    </script>
}
