<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
    </div>
</div>
<div id="gridContainer">
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON('/TblGeneralUlke/Get', function (model) {
                GridData(model)
            })
        });
        function GridData(models) {
            let url = "TblGeneralUlke";
            $("#gridContainer").dxDataGrid({
                dataSource: models,
                columns: [
                    {
                        dataField: "Id",
                    },
                    {
                        dataField: "Adi",
                        caption: "Adi"
                    },
                    {
                        dataField: "UlkeTelKodu",
                        caption: "UlkeTelKodu"
                    },
                    {
                        dataField: "KisaKod",
                        caption: "KisaKod"
                   
                    },
                    {
                        dataField: "Kod",
                        caption: "Kod"
                    },
                    {
                        dataField: "ParaBirimId",
                        caption: "ParaBirimId",
                        lookup: {
                            dataSource: DevExpress.data.AspNet.createStore({
                                key: 'Value',
                                loadUrl: `/${url}/TblGeneralParaBirimiLookup`,
                                onBeforeSend(method, ajaxOptions) {
                                    ajaxOptions.xhrFields = { withCredentials: true };
                                },
                            }),
                            valueExpr: 'Value',
                            displayExpr: 'Text',
                        }
                    },
                    {
                        dataField: "Onaylandi",
                        caption: "Onaylandi"
                    },
                    {
                        dataField: "Aktif",
                        caption: "Aktif"
                    },
                    {
                        dataField: "Guid",
                        caption: "Guid"
                    },
                    {
                        dataField: "DegistirenId",
                        caption: "DegistirenId"
                    },
                    {
                        dataField: "OlusturanId",
                        caption: "OlusturanId" 
                    },
                    {
                        dataField: "DegisiklikTarih",
                        caption: "DegisiklikTarih"
                    },
                    {
                        dataField: "OlusturmaTarih",
                        caption: "OlusturmaTarih"
                    },
                    {
                        dataField: "Revizyon",
                        caption: "Revizyon"
                    },
                    {
                        dataField: "Silindi",
                        caption: "Silindi"
                    }

                ],
                paging: {
                    pageSize: 6
                },
                onRowInserted: function (e) {
                    rowInsert(e.data);
                },
                onRowUpdated: function (e) {
                    rowUpdate(e.data);
                },
                onRowRemoved: function (e) {
                    rowRemove(e.data.Id);
                },
                editing: {
                    mode: 'popup',
                    allowUpdating: true,
                    allowAdding: true,
                    allowDeleting: true,
                    popup: {
                        title: 'TblGeneralUlke Info',
                        showTitle: true,
                        width: 700,
                        height: 525,
                    },
                    form: {
                        items: [
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                items: ['Adi', 'UlkeTelKodu', 'KisaKod', 'Kod', 'ParaBirimId']
                            },
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                caption: 'TblGeneralUlke Base',
                                items: ['Revizyon', 'Aktif', 'Onaylandi', 'Silindi'],
                            }
                        ],
                    },
                }
            });
        }
        function rowUpdate(Data) {
            AjaxMethod('@Url.Action("Put", "TblGeneralUlke")', Data);
        }
        function rowInsert(Data) {
            AjaxMethod('@Url.Action("Post", "TblGeneralUlke")', Data);
        }
        function rowRemove(Data) {
            DeleteCall('@Url.Action("Delete", "TblGeneralUlke")', Data);
        }
        function AjaxMethod(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: Data,
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }

        function DeleteCall(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: Data },
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }
    </script>
}
