@model TblCmsappMenu


@{
    ViewData["Title"] = "CreateEntity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">

        <form method="post" asp-action="CreateEntity" enctype="multipart/form-data">
            <h1 class="text-center text-primary">TblCMSAppMenu Create</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Sira" class="control-label"></label>
                <input asp-for="Sira" class="form-control" />
                <span asp-validation-for="Sira" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select Navigation</label>
                <select class="form-select" asp-items="@ViewBag.v1" asp-for="NavigationId"></select>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                     <div class="form-check">
                        <input asp-for="YeniSekmedeAc" class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Yeni Sekmede Aç
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input asp-for="DisUrl" class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            DisUrl
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <input type="submit" placeholder="Create" class="btn btn-outline-success mt-2 btn-block" />
            </div>
        </form>
    </div>
</div>
